<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>Mecha</string>
    <key>CFBundleIdentifier</key>
    <string>com.hetbhavsar.Mecha</string>
    <key>CFBundleName</key>
    <string>Mecha</string>
    <key>CFBundleDisplayName</key>
    <string>Mecha</string>
    <key>CFBundleVersion</key>
    <string>39</string>
    <key>CFBundleShortVersionString</key>
    <string>3.0.38</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon.icns</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>GITHUB_OWNER</key>
    <string>Het-Bhavsar</string>
    <key>GITHUB_REPO</key>
    <string>Mecha</string>
    <key>APPCAST_BASE_URL</key>
    <string>https://het-bhavsar.github.io/Mecha</string>
    <key>SUFeedURL</key>
    <string>https://het-bhavsar.github.io/Mecha/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>XqX/41XEIYKAzdmOXdwWmYCxOfH5Uk32AKUgOdTv75E=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUScheduledCheckInterval</key>
    <real>86400</real>
    <key>SUAutomaticallyUpdate</key>
    <false/>
</dict>
</plist>
